.error-container{
    background-image: url('../Error404.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.btnInicio{
    color: white;
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 20%;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}